@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Key's Onboarding Project </h1>
    <p class="lead">The keys onboard task is designed to familiarise you with technologies that you will be utilising once you join the project team.</p>
    <p><a href="https://docs.google.com/document/d/1AeQ5HlTnCmlE9proLteYbCiLh66p5e_dPXaZAEAvmBQ/edit#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
